@import "tailwindcss";
@plugin './utils/hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@font-face {
  font-family: Vazir;
  src: url("./assets/Fonts/Vazir-FD-WOL.woff2") format("woff2");
  font-weight: normal;
}

* {
  font-family: Vazir, sans-serif;
}
